*{
    margin: 0;
    padding: 0;
    text-decoration: none;

    font-family: "montserrat",sans-serif;
  }
  header {
    background-color: rgba(0, 0, 0, 0.02);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  .contact-section{
    background: url(123.webp);

    background-size: cover;
    padding: 300px 0;
  }
  nav {

    height: 80px;
    width: 100%;
}

a.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    margin-left: 25.5px;
    float: left;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover {
    color: rgb(113, 122, 194);
    transition: .3s;
}

  .contact-section h1{
    text-align: center;
    color: #ddd;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }
  